{% extends "base.html" %}
{% load static %}
{% block title %}
Business Case Documents
{% endblock %}

{% block nav %}
{% with landing="/bcd-list" %}
    {{ block.super }}
{% endwith %}
{% endblock %}


{% block sidebar %}
{{block.super}}
{% block mute %}
{% with sample2="/new-bcd" %}
    {{ block.super }}
{% endwith %}
{% endblock %}
{% endblock %}
    
    {% block page-content %}
    <!-- Start content-page -->
    <div class="content-page" style="margin-left: 200px;">
        <!-- Start content -->
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <h1 class="main-title float-left">Business Case Document List</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">List Of BCD</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                {% if msg|length > 0 %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{msg}}</strong>
                </div>

                {% endif %}
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h3>List Of BCD</h3>
                            </div>
                            <div class="card-body">
                                <table id="example" class="table table-striped table-bordered" >
                                    <thead>
                                      <tr style="font-size: 13;">
                                            <th>BCD_no</th>
                                            <th>Requestor Name</th>
                                            <th>BCD amount</th>
                                            <th>BCD overview</th>
                                            <th>Status</th>
                                            <th>New PR</th>
                                            

                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for bcd in bcd_list %}
                                            <tr style="font-size: 13;">
                                                <td>
                                                    <a href="{% url 'BCD-update' bcd.pk %}">{{ bcd.BCD_no }}</a>
                                                </td>
                                                <td>{{ bcd.requestor_name }}</td>
                                                <td>{{ bcd.BCD_amount }}</td>
                                                <td>{{ bcd.BCD_summary }}</td>
                                                {% if bcd.status == 'Approved' and bcd.isPRRaised == 0 %}
                                                <td style="color: green;">{{ bcd.status }}</td>
                                                <td><a href="{% url 'new-pr' bcd.BCD_no %} ">New PR</a></td>
                                                {% elif bcd.status == 'Approved' and bcd.isPRRaised == 1 %}
                                                <td style="color: green;">{{ bcd.status }}</td>
                                                <td><a href="{% url 'new-pr' bcd.BCD_no %} ">View PR</a></td>
                                                {% else %}
                                                <td style="color: red;">{{ bcd.status }}</td>
                                                <td>--</td>
                                                {% endif %}

                                            </tr>
                                        {% endfor %}
                                    </tbody>       
                                </table>                                
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
            <!-- END container-fluid -->

        </div>
        <!-- END content -->
    </div>
    <!-- END content-page -->
    {% endblock %}

<!-- END main -->
{% block js %}
    <!-- App js -->
    <script src="{% static 'assets/js/pikeadmin.js' %}"></script>

    <!-- BEGIN Java Script for this page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <!-- Counter-Up-->
    <script src="{% static 'assets/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}"></script>         

{% endblock %}