{% extends "base.html" %}
{% load static %}
{% block title %}
Tax Filling Application :: Dashboard
{% endblock %}

{% block nav %}
{% with landing="/bcd-list" %}
    {{ block.super }}
{% endwith %}
{% endblock %}


{% block sidebar %}
{{block.super}}
{% with sample="/bcd-list" %}
    {{ block.super }}
{% endwith %}
{% block mute %}
{% with sample2="/new-bcd" %}
    {{ block.super }}
{% endwith %}
{% endblock %}
{% endblock %}
    
    {% block page-content %}

    <!-- Start content-page -->
    <div class="content-page" style="margin-left:  200px;">
        <!-- Start content -->
        <div >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <h1 class="main-title float-left">New BCD Initiation</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="/bcd-list">Home</a></li>
                                <li class="breadcrumb-item active">New BCD</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h3>Create New BCD</h3>
                            </div>
                            <div class="card-body">

                                <form  id="new-form" method="POST" action="" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
                                    <table class="table" >

                                
                                    <tr>
                                        <td>
                                   <div class="row">

                                        
                                            {% for field in form %}

                                                {% if forloop.counter0|divisibleby:"2" %}
                                                    </div> <br>
                                                    {% if not forloop.last %}
                                                    <div class="row">
                                                    {% endif %}
                                                {% endif %}
                                            <div class="col-md-2">
                                            <b>{{ field.label }}</b>
                                            </div>
                                            <br>
                                            <div class="col-md-3">
                                                
                                                {{ field.errors.as_ul }}
                                            <b>{{ field }}</b>
                                            </div>

                                        <!-- </div> -->
                                            {% endfor %}
                                            <br><br>

                                    </td>
                                    </tr>
                                    
                                </table>
                                 <button type="submit" id="save" name="save" value="Save" class="btn btn-success float-right">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
            <!-- END container-fluid -->

        </div>
        <!-- END content -->
    </div>
    <!-- END content-page -->
    {% endblock %}

<!-- END main -->
{% block js %}
    <!-- App js -->
    <script src="{% static 'assets/js/pikeadmin.js' %}"></script>

    <!-- BEGIN Java Script for this page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <!-- Counter-Up-->
    <script src="{% static 'assets/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}"></script>         

{% endblock %}