{% extends "base.html" %}
{% load static %}
{% block title %}
Business Case document
{% endblock %}
{{super}}

{% block script %}
{{block.super}}
<script type="text/javascript">
$(document).ready(function()
{
    $('#id_FirstApproval').prop('disabled', true);
    

    $('#id_BCD_amount').prop('readonly', true);
    

    $('#id_BCD_overview').prop('disabled', true);

    $('#id_COE_Comments').prop('disabled', true);

    $('#id_Finance_Comments').prop('disabled',true);

    $('#id_CIO_Comments').prop('disabled',true);

    // $('#id_FirstApproval').addClass('input-disabled');

    $('#new-form').submit(function() 
    {
        // alert("yee...");
         $('#id_FirstApproval').prop('disabled', false);
    

    $('#id_BCD_amount').prop('readonly', false);
    

    $('#id_BCD_overview').prop('disabled', false);

    $('#id_COE_Comments').prop('disabled', false);

    $('#id_Finance_Comments').prop('disabled',false);

    $('#id_CIO_Comments').prop('disabled',false);
        

    });
});
</script>
{% endblock%}

{% block stylesheet %}

<style>

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
 
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
.glyphicon-left {
    margin-right: 7px;
}

</style>

{% endblock %}
{% block sidebar %}
{% with sample="/bcd-list-Final" %}

        {{ block.super }}
    {% endwith %}
{% block mute %}{% endblock mute %}
{% endblock %}

    {% block page-content %}
    <!-- Start content-page -->
    <div class="content-page" style="margin-left: 200px;">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <h1 class="main-title float-left">Business Case Document List</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="/bcd-list-Final">Home</a></li>
                                <!-- <li class="breadcrumb-item active">New TFA</li> -->
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                {% if msg|length > 0 %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{msg}}</strong>
                </div>

                {% endif %}
               
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h3>BCD No :- {{ BCD_no }}<span style="float: right;"><a href="/docs/{{pdf}}">Download</a></span></h3>
                            </div>
                            <div class="card-body">

                                <form  id="new-form" method="POST" action="" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
                                {% for f in form %}
                                
                                    <div class="row" >
                                        
                                            <div class="col-md-2">

                                                {{ f.label_tag }}
                                                
                                            </div>
                                            <div class="col-md-8">
                                            
                                                {{ f }}
                                            
                                      
                                            </div>

                                    </div>
                               
                                {% endfor %}
                                <button type="submit" id="Approve" name="Approve" value="Approve" class="btn btn-success float-right">Approve</button>
                                <button type="submit" id="Reject" name="Reject" value="Reject" class="btn btn-danger float-right">Reject</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
            <!-- END container-fluid -->

        </div>
        <!-- END content -->
    </div>
    <!-- END content-page -->
    {% endblock %}

<!-- END main -->
{% block js %}
    <!-- App js -->
    <script src="{% static 'assets/js/pikeadmin.js' %}"></script>

    <!-- BEGIN Java Script for this page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <!-- Counter-Up-->
    <script src="{% static 'assets/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js' %}"></script>         

{% endblock %}